<nav>
  <ul class="pager">
    <li class="previous<%= @prev_button.nil? ? ' disabled' : ''%>"><a href="#" data-offset="<%= @prev_button %>">Previous</a></li>
    <li class="next<%= @next_button.nil? ? ' disabled' : ''%>"><a href="#" data-offset="<%= @next_button %>">Next</a></li>
  </ul>
</nav>
